@model WebProjeto.Models.Cliente

@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<hr>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.codCliente)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.codCliente)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.nome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.nome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CPF)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CPF)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.endereco)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.endereco)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.telDDD)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.telDDD)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.dataNasc)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.dataNasc)
    </dd>
</dl>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>